* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gudea", sans-serif;
}

body {
  background-image: url("img/img.webp");
  font-family: "Montserrat", sans-serif;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  /* max-height: 800px;
  max-width: 800px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINERS */

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 850px;
  height: 600px;
  background-color: #c0bcbc;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 5);
}

.sets-container {
  overflow: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  height: 600px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: rgb(231, 12, 190);
  background: linear-gradient(
    5deg,
    rgba(231, 12, 190, 1) 0%,
    rgba(61, 2, 58, 1) 100%
  );
}

.cards-container {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 650px;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.add-form-box {
  border-top-right-radius: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
  width: 650px;
  height: 250px;
  background-color: #f2e8f2;
}

.btn-submit,
.btn {
  border-radius: 15px;
  background-color: #030303;
  width: 107px;
  height: 30px;
  color: white;
  font-weight: 600;
}

.right-box {
  margin-bottom: 200px;
  margin-left: 350px;
}

.del-btn-holder {
  display: flex;
  align-items: end;
  justify-content: end;
}

.create-new-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.display-box {
  gap: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2e8f2;
  width: 650px;
  height: 350px;
}
.card-body {
  overflow: hidden;
  touch-action: none;
  display: block;
  border-radius: 15px;
  height: 200px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fafafa;
}

.tape {
  height: auto;
  width: 400px;
}

/* CARDS */

.question,
.answer {
  color: #303030;
  cursor: pointer;
  font-size: 25px;
}

.answer {
  color: #e70cbe;
}

.text-box {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: flex-end;
  flex-direction: column;

  height: 200px;
  width: 400px;
}

/* SETS */
.set {
  background-color: #f2e8f2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 5);
  border-radius: 15px;
  width: 90%;
  height: auto;
  padding: 10px;
}

.set:active {
  color: #e70cbe;
}

/* .set-name {
  flex-grow: 1;
  max-width: 80%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
} */

/* BUTTONS */
.btn {
  font-size: 18px;
}
.btn:hover {
  border: #fb0b93 4px solid;
}
.btn:active {
  color: #fb0b93;
  transform: scale(0.99);
  background-color: rgb(30, 31, 30);
}

.btn-exit {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn-exit:active {
  transform: scale(0.9);
}
.btn-submit-set {
  width: 135px;
}
.fa-solid {
  color: #fb0b93;
  font-size: 40px;
  /* padding-right: 20px; */
}
.fa-shuffle,
.fa-regular {
  color: #fb0b93;
  font-size: 20px;
  /* padding-right: 20px; */
}

.arrow-left,
.arrow-right {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 200px;
  background-color: #0b0b0b;
  border: none;
}
.arrow-left:active,
.arrow-right:active {
  border: #fb0b93 4px solid;
  color: white;
  transform: scale(0.99);
}
.close-dialog-btn,
.yes-delete-btn {
  font-size: 20px;
  width: 150px;
  height: auto;
  background-color: rgb(254, 255, 254);

  border-radius: 15px;
}

.btn-submit-edits {
  color: #0c8be7;
}

.close-dialog-btn {
  color: #0de935;
}

.btn-cancel-edits {
  color: #fb0b93;
}
.btn-cancel-edits:hover,
.btn-cancel-edits:hover {
  border: #fb0b93 4px solid;
}
.yes-delete-btn {
  color: #f30000;
}
.yes-delete-btn:hover {
  border: #f30000 4px solid;
}
/* .close-dialog-btn {
  color: #0de935;
  border: 4px solid #0de935; */
/* }
.yes-delete-btn {
  color: #e70c1a;
  border: 4px solid #e70c1a;
} */

#close-dialog:active {
  background-color: rgb(231, 233, 231);
  border: #fb0b93 2px solid;
  color: #fb0b93;
}

.btn-delete-card,
.btn-edit,
.btn-random {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-set-delete {
  /* 
 
  cursor: pointer;
  margin-bottom: 5px;
  width: 15px;
  height: 15px; */

  border: none;
  background-color: transparent;
  align-self: center;
  margin-left: auto;

  /* min-width: 20%; 
 
  flex: 0 0 auto; */
}

/* INPUTS & FORMS */

.form-edits {
  width: 400px;
  height: 200px;
  gap: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.edit-inputs {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.edit-buttons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.fieldA,
.fieldB {
  background-color: #fafafa;
  border: none;
  font-size: 20px;
}
.fieldB {
  color: #e70cbe;
}

.fieldA:focus,
.fieldB:focus {
  outline: none;
}
#dropdown {
  font-size: 17px;
}
.q,
.a,
#dropdown {
  padding: 3px;
  border-radius: 15px;
}
/* .set-name {
  height: 25px;
} */

/* DIALOGS */

dialog {
  font-size: 25px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  /* gap: 20%; */
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: #fb0b93 2px solid;
}

dialog::backdrop {
  background: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7));
}

label {
  font-size: 20px;
}

/* STATES */

.hidden {
  visibility: hidden;
}

.invisible {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  display: none;
}
